@import url(fontFace.css);

/*간단한 초기화*/
ul, li { list-style: none; }
* { margin:0; padding:0; box-sizing:border-box; }
img { border:0; }
address {font-style: normal;}
a:link, a:visited, a:hover { text-decoration: none; color:#fff;} 


header {
    background:url()no-repeat;
    background-size: cover;
	background-color:#1c5d9a;
    height:30em;
	margin-bottom: 50px;
}


.inner {width:1200px; margin:0 auto;}

/*nav*/
.topNavBar {overflow:hidden; padding: 10px 0;}
.topNavBar .logo {display:inline-block;}
.topNavBar .list_box {margin-top:50px; float:right;}
.list_box li {float:left; font-size:18px; font-family:'NotoKrM', sans-serif; text-align:center; line-height:20px; transition:all .5s; cursor: pointer; width:150px; padding: 0 20px;}
.list_box li:after {content:""; display:block; width:100%; height:0; background:#5da8ef; margin-top:-8px;}
.list_box li:hover:after {content:""; display:block; width:100%; height:10px; transition:all .5s;}

/*title*/
.main_titleBox { padding:50px 0; text-align:center;}
.main_titleBox .title_1 { font-size:25px; color:#5da8ef; font-family:'NotoKrB', sans-serif;}
.main_titleBox .title_2 { font-size:50px; padding-bottom:40px; font-family:'NotoKrM', sans-serif; color:#fff; line-height:50px; display:inline-block;}
.main_titleBox .title_3 { font-size:16px; color:#ededed; line-height:27px; font-family:'NotoKrM', sans-serif; }

/*section*/
.contents_box { width:90%; margin:0 auto;}
.contents_box::before { content:"PORT FOLIO"; display:block; word-wrap: break-word; text-align:center; line-height:20px; width:5px; float:right; color:#ddd;}
.aility_box { padding:6rem 0; text-align:center;}
/* .aility_box ul { display:flex; padding:0 20rem; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.aility_box ul li {padding:0 20px; height:36px; text-align:center; line-height: 36px; background:#5da8ef; border-radius:18px; color:#fff; margin:0 6px; font-family:NotoKrM, sans-serif; transition:all 1s;}
.aility_box ul li:hover {background:#1c5d9a; transition:all 1s;} */

.line_blue { font-size:.5rem; font-weight:200; color:#333; letter-spacing:2px; text-align:center; font-family:League Script, sans-serif;}
.line_blue::after {display:block; content:""; width:1px; background:#5da8ef; height:100px; margin:56px auto}

/*abot*/
.grid_warp { margin-bottom:20rem; }
.grid_warp .img_box_01 { text-align:center; }
.grid_warp .img_box_01 img {vertical-align:top; width:35%;}

.img_grid_box .img_text { text-align:left; font-family:NotoKrR, sans-serif;}
.img_grid_box .img_text p { font-size:1.5rem; }
.img_grid_box .img_text p:nth-child(2) { margin-top:40px; letter-spacing: 2px; font-size:1rem; font-weight:600; font-family:League Script, sans-serif;} 
.img_grid_box .img_text p:nth-child(2)::after {display:block; content:""; width:40px; height:1px; background:#5da8ef; }

/*project*/
.project_title p { text-align:center; font-size:45px; font-family:NotoKrL, sans-serif; font-weight:bold; margin-bottom:20px;}
.project_title p span { display:block; letter-spacing: 2px; font-size:9px; color:#5da8ef; font-weight:500; padding-bottom:18px;} 

.rolling_box {text-align:center;}
.rolling_box ul {display:inline-block;}
.rolling_box ul li { display:inline-block;}
.rolling_box ul li:last-child {margin-right:0;}



.figure_box figure { position:relative;}
.figure_box figure img {width: 300px;}
.figure_box figure figcaption { position:absolute; bottom:0; width:100%; background:#000; opacity:0; height:0px; color:#fff; transition:all 1s; text-align:left; padding:10px;}
.figure_box figure:hover figcaption {opacity:.8; height:100%; transition:all 1s;}

.figure_box figure figcaption .info {position:absolute; bottom:20px; display:inline-block; width:100%;}
.figure_box figure figcaption .info h3 {font-size:20px;}
.figure_box figure figcaption .info a {display:inline-block; margin-top:20px;}

.figure_box figure figcaption .info a:link,
.figure_box figure figcaption .info a:visited,
.figure_box figure figcaption .info a:hover {
    text-decoration: none; color:#fff;
}





/* hobby

.hobby { margin-top:50px; }
.hobby_box { display:flex; padding:5% 24% 8%;}
.hobby_text ul li:nth-child(1) p { font-size:4.2rem; font-weight:600; font-family:Poppins, sans-serif;}
.hobby_text ul li:nth-child(1) p::before { content:"01"; font-size:13rem; color:#f9f9f9; font-weight:900; margin-right:-128px}
.hobby_text ul li:nth-child(1) p::after { content:""; display:block; width:30px; height:2px; background:#5da8ef; margin-top:-20px; margin-left:5px;  }
.hobby_text ul li:nth-child(2) { font-size:1.4rem; font-weight:300; color:#616161; line-height:24px; margin-top:30px; font-family:NotoKrL, sans-serif;}
.hobby_text ul li:nth-child(3) {font-size:1rem; letter-spacing: 2px; margin-top:40px; padding-left:5px; font-family:League Script, sans-serif; }
.hobby_text ul li:nth-child(3)::after {content:""; display:block; width:32px; height:2px; margin-top:5px; background:#5da8ef;}
.hobby_box .hobby_img { margin-left:50px;}

.hobby_box01 { display:flex; padding:0 27%; }
.hobby_text:nth-child(2) ul li:nth-child(1) p::before { content:"02"; font-size:13rem; color:#f9f9f9; font-weight:900; margin-right:-128px}
.hobby_text:nth-child(2) ul li:nth-child(1) { margin-left: 50px;}
.hobby_text:nth-child(2) ul li:nth-child(1) p::after { margin-left:29px}
.hobby_text:nth-child(2) ul li:nth-child(2) { margin-left:75px; }
.hobby_text:nth-child(2) ul li:nth-child(3) { margin-left:75px;}

.hobby::after { content:""; display:block; width:1px; height:90px; background:#5da8ef; margin:6% auto; } */

/* cont_last
.cont_last { display:flex; padding:0 22%}
.last_img img { width:100%;}
.last_text h3 { font-family:Poppins, sans-serif; font-size:4rem; margin-left:75px; padding-bottom:50px; width:200px;}
.last_text h3::after { content:""; display:block; background:#5da8ef; width:30px; height:2px;}
.last_text p { font-size:1.6rem; line-height:28px; margin-left:75px; font-family:NotoKrR, sans-serif;} 
.last_text {padding:9.4% 0; letter-spacing: -1px; color:#5d5d5d}
.last_text p span { font-weight:900; color:#000;} */




.img_box {overflow:hidden; display:inline-block;}
.img_box li {width:102px; height:102px; float:left;  margin-right:30px; margin-bottom:30px;}
.img_box li:after {content:""; display:block; width:100%; height:100%; background:rgba(0, 0, 0, 0); color:#fff;}
.img_box li:hover:after {color:#fff; text-align:center; line-height:102px; background: rgba(0, 0, 0, .7); transition:all .5s; font-weight:bold; font-size:25px; cursor:pointer;}

.img_box li:nth-child(1):hover:after {content:"80%";}
.img_box li:nth-child(2):hover:after {content:"80%";}
.img_box li:nth-child(3):hover:after {content:"60%";}
.img_box li:nth-child(4):hover:after {content:"60%";}
.img_box li:nth-child(5):hover:after {content:"90%";}
.img_box li:nth-child(6):hover:after {content:"90%";}
.img_box li:nth-child(7):hover:after {content:"40%";}
.img_box li:nth-child(8):hover:after {content:"20%";}


.img_box li:nth-child(1) {background:url("../images/icon_box.jpg")no-repeat; background-position: -130px -250px;}
.img_box li:nth-child(2) {background:url("../images/icon_box.jpg")no-repeat; background-position: -130px -10px;}
.img_box li:nth-child(3) {background:url("../images/icon_box.jpg")no-repeat; background-position: -10px -250px;}
.img_box li:nth-child(4) {background:url("../images/icon_box.jpg")no-repeat; background-position: -10px -370px;}
.img_box li:nth-child(5) {background:url("../images/ps_ai_icon.png")no-repeat; background-size:568px; background-position: -404px -63px;}
.img_box li:nth-child(6) {background:url("../images/ps_ai_icon.png")no-repeat; background-size:568px; background-position: -293px -63px;}
.img_box li:nth-child(7) {background:url("../images/java_icon.png")no-repeat; background-size:cover;}
.img_box li:nth-child(8) {background:url("../images/oracle_icon.png")no-repeat; background-size:cover;}
.img_box li:nth-child(8n + 0) + li {clear:both;} 
.img_box li:last-child {margin-right: 0;}



/*footer*/
footer { text-align:center; padding:1% 0; background:#1c5d9a; color:#fff;}
footer address { letter-spacing: 2px; padding:2rem 0; font-family:Poppins, sans-serif;}
.footer_snsIcon ul {display: flex; margin:0 46%;}
.footer_snsIcon ul li { width:33.3%; }


